body {
  margin: 0;
  padding: 0;
}
canvas {
  background-color: #111;
}

.score,
.level {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.canv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.score-cont {
  background-color: #111;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}
