canvas {
  background-color: #111;
}

.score,
.level {
  color: yellowgreen;
}

.canv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}
